@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

:root {
    --text-dark: #363636;
    --text-grey: #555555;
    --white: #ffffff;
    --dark-white: #ebebeb;
    --light-grey: #424753;
    --middle-grey: #343945;
    --dark-grey: #2c323d;
    --prime-color: #337ab7;
    --filter-prime: invert(41%) sepia(51%) saturate(671%) hue-rotate(166deg) brightness(95%) contrast(90%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: var(--white);
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s;
}

a:hover {
    color: var(--prime-color);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
}

.video-presentation {
    margin-top: 10px;
    width: 100%;
    height: auto;
}

/* main container */

.main {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-auto-flow: row;
    grid-template-areas:
        "header header"
        "photo name"
        "photo summary"
        "contacts summary"
        "education examples"
        "experience skills"
        "experience hobbies"
        "footer footer";
    max-width: 1280px;
    margin: 40px;
    -webkit-box-shadow: 2px 4px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 4px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 4px 15px 0px rgba(50, 50, 50, 0.75);
}

.container p {
    padding: 40px 55px;
    line-height: 30px;
}

.container h3 {
    border-left: var(--prime-color) 30px solid;
    padding: 2px 25px;
    margin-top: 40px;
    font-size: 20px;
    letter-spacing: 2px;
}

/* main container end */
