@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

:root {
    --text-dark: #363636;
    --text-grey: #555555;
    --white: #ffffff;
    --dark-white: #ebebeb;
    --light-grey: #424753;
    --middle-grey: #343945;
    --dark-grey: #2c323d;
    --prime-color: #337ab7;
    --filter-prime: invert(41%) sepia(51%) saturate(671%) hue-rotate(166deg) brightness(95%) contrast(90%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: var(--white);
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s;
}

a:hover {
    color: var(--prime-color);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
}

.video-presentation {
    margin-top: 10px;
    width: 100%;
    height: auto;
}

/* main container */

.main {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-auto-flow: row;
    grid-template-areas:
        "header header"
        "photo name"
        "photo summary"
        "contacts summary"
        "education examples"
        "experience skills"
        "experience hobbies"
        "footer footer";
    max-width: 1280px;
    margin: 40px;
    -webkit-box-shadow: 2px 4px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 4px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 4px 15px 0px rgba(50, 50, 50, 0.75);
}

.container p {
    padding: 40px 55px;
    line-height: 30px;
}

.container h3 {
    border-left: var(--prime-color) 30px solid;
    padding: 2px 25px;
    margin-top: 40px;
    font-size: 20px;
    letter-spacing: 2px;
}

/* main container end */

/* header and nav menu */

.header {
    position: relative;
    grid-area: header;
    height: 64px;
    color: var(--white);
    background-color: var(--middle-grey);
}

.menu__button,
#menu__toggler {
    display: none;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
}

.menu__item {
    padding: 20px 0px;
}

.menu__item a {
    padding: 20px 5px;
}

/* header and nav menu end */

/* photo section */

.photo {
    grid-area: photo;
    min-height: 600px;
    background: url(assets/img/photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s;
    transition: .3s;
}

.photo:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

/* photo section end */

/* contacts section */

.contacts {
    grid-area: contacts;
    color: var(--white);
    background-color: var(--middle-grey);
}

.contacts__info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    list-style: none;
    padding: 40px 55px;
}

/* contacts section end */

/* education section */

.education {
    grid-area: education;
    color: var(--white);
    background-color: var(--dark-grey);
}

.education__music {
    padding: 40px 55px 40px 55px;
}

.education__online {
    padding: 0px 55px 40px 55px;
}

.education summary {
    font-weight: 600;
    cursor: pointer;
}

/* education section end */

/* experience section */

.experience {
    grid-area: experience;
    color: var(--white);
    background-color: var(--dark-grey);
}

/* experience section end */

/* name section */

.name {
    grid-area: name;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 55px 0;
}

.name__heading {
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 3px;
    color: var(--text-dark);
}

.name__text {
    font-weight: 400;
    font-size: 25px;
    line-height: 70px;
    letter-spacing: 2px;
    color: var(--text-dark);
}

/* name section end */

